.application-list {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    flex-direction:row;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .application-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .application-list ul {
    list-style: none;
    padding: 0;
  }
  
  .application-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
  }
  
  .application-list li p {
    margin: 5px 0;
  }
  
  .application-list a {
    color: #4e54c8;
    text-decoration: none;
    font-weight: bold;
  }
  
  .application-list a:hover {
    text-decoration: underline;
  }
  